{{>navbar }}
{{>birthday2}}

<form method="POST">
    {{#editUser}}
    {{#if profileUpdated}}
    <h3>Your profile has been updated</h3>
    {{/if}}
    {{#if error}}
    <h3>{{ error }}</h3>
    {{/if}}
    <h2>Edit your profile</h2>
    <div class="register-input">
        <label for="register-firstname">First Name</label>
        <input
            type="text"
            name="firstName"
            value="{{ first_name }}"
            id="register-firstname"
        />

        <label for="register-lastname">Last Name</label>
        <input
            type="text"
            name="lastName"
            value="{{ last_name }}"
            id="register-lastname"
        />

        <label for="register-email">Email Address</label>
        <input
            type="email"
            name="email"
            value="{{ email }}"
            id="register-email"
        />

        <label for="register-pw">Password</label>
        <input type="password" name="password" id="register-pw" />

        <label for="age">Age</label>
        <input type="number" value="{{ age }}" name="age" />

        <label for="city">City</label>
        <input type="text" value="{{ city }}" name="city" />

        <label for="url">Homepage</label>
        <input type="url" value="{{ url }}" name="url" />
        {{/editUser}}

        <button>Update</button>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </div>
</form>
