
{{>navbar}}
{{>birthday}}
<div class="signers-container">
    <iframe
        src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ"
        width="380"
        height="302"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
    ></iframe>
    {{#if fromCity}}
    <h1>Look at our wonderful signers from {{ fromCity }}</h1>
    {{else}}
    <h1>Thanks to our signers!</h1>
    {{/if}}

    {{#signers}}
    {{#if url}}
    <a href="{{ url }}">{{ first_name }} {{ last_name }}</a>
    {{else}}
    <p>{{ first_name }}{{ last_name }}</p>
    {{/if}}

    <p>{{ age }}</p>
    {{#unless ../fromCity}}
    <a href="/signers/{{ city }}"
        ><p>{{ city }}</p></a
    >
    {{/unless}}

    {{/signers}}
</div>
