{{>navbar}}

<div class="content">
    <div class="logo">
        {{>birthday2}}
    </div>

    <div class="signers-container">
        <div class="thanks-text">
            {{#if fromCity}}
            <h1>
                Look at our wonderful signers <br />
                from {{ fromCity }}
            </h1>
            <br />
            {{else}}
            <h1>Thanks to our {{ signerCount }} signers!</h1>
            <br />
            {{/if}}
        </div>
        <div class="signers-names">
            {{#signers}}

            <div class="signers-row">
                {{#if url}}
                <span class="margin">
                    <a href="{{ url }}">{{ first_name }} {{ last_name }}</a>
                </span>
                {{else}}
                <span class="margin">{{ first_name }} {{ last_name }}</span>
                {{/if}}
                <span class="margin">{{ age }}</span>

                {{#unless ../fromCity}}
                <span>
                    <a href="/signers/{{ city }}">{{ city }}</a>
                </span>

                {{/unless}}
            </div>
            {{/signers}}
        </div>
        {{#if fromCity}}

        <a href="/signers">>Back to all signers</a>
        {{/if}}
    </div>
</div>
